<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean class="com.yfshi.class007.Bean2" id="bean2" scope="prototype"/>
   <bean class="com.yfshi.class007.Bean1" id="bean1" scope="prototype">
       <property name="bean2" ref="bean2"/>
   </bean>


</beans>